################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Gerenciador3DeT/FileContentIndex/b450fa93-6101-444e-a18a-41ef559b9789.vsidx
/.vs/Gerenciador3DeT/FileContentIndex/a4bb5f0c-8ad4-47c3-809c-b2b2310ea7cd.vsidx
